In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

# 1. Exploring data

Load data into a pandas data frame. [Documentation](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.read_table.html)

In [ ]:
flats = pd.read_table('../../data/final_rent_data.txt', sep =',', index_col = None)

Explore your dataset: check what columns you have, what are the values of those columns, also get some statistics about the numerical and categorical columns. Make yourself familiar with it. [Useful](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.info.html) [functions](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html).
Answer following questions: 
1. How many non-nulls are in column rooms?
2. What is the maximum number of bathrooms?
3. What is the most popular general address?

In [ ]:
flats.info()

In [ ]:
flats.describe()

In [ ]:
flats.describe(include=['O'])

Answers:
    1. 5949
    2. 4
    3. 10177 Berlin, Mitte

Find apartment that has the maximum number of bathrooms. [Useful function](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.query.html)

In [ ]:
flats.query("bathrooms==4") #alternative flats[flats["bathrooms"]==4]

## 1.2 Remove rows with many nas

Understand what the [function 'dropna'](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html) does, what parameters it takes and what is a 'thresh' parameter. How many values are rquired to be non-NaNs in this case? (hint: find oiut what is the value of flats.shape[1]*0.9)

In [ ]:
flats = flats.dropna(thresh=flats.shape[1]*0.9)

# 2. Finding duplicates

Try to find:
1. obvious duplicates. Think what happens if the apartment stay several days online and you scrap every day. What should be equal for sure? And what add would you want to remove?
2. not obvious duplicates. Use your imagination what could an agency do with the apartment ads. (Ypu should have around 1474 rows at the end)

[Useful](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop_duplicates.html) [functions](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.duplicated.html)

### 2.1 Obvious duplicates: duplicated ids

In [ ]:
flats.sort_values(by='extract_date', ascending=False, inplace=True) #sort ads in order to keep the new one in case of a duplication

flats

In [ ]:
flats.sort_values(by='extract_date', ascending=False, inplace=True) #sort ads in order to keep the new one in case of a duplication
flats.drop_duplicates('id', keep="last", inplace=True)

### 2.2 Not Obvious duplicates: 
#### 2.2.1 duplicated 'title', 'total_area', 'street_name', 'cold_rent', 'total_rent'
Exaplanation: in order to get more attention to the ad agencys might post the same apartemtn several times.

In [ ]:
cols = ['title', 'total_area', 'street_name', 'cold_rent', 'total_rent', 'condition', 'general_address']
flats[flats.duplicated(cols, keep=False)].sort_values(by="title")

In [ ]:
flats.drop_duplicates(cols, keep="last", inplace=True)

#### 2.2.2 duplicated title, cold_rent, total_rent, street_name, general_address
Explanation: agency had an incorrect total_area and other values, so they had to renew or do a new ad

In [ ]:
cols = ['title', 'cold_rent', 'total_rent', 'street_name', 'stock', 'general_address']
flats[flats.duplicated(cols, keep=False)].sort_values(by="title")

In [ ]:
flats.drop_duplicates(cols, keep="last", inplace=True)

#### 2.2.3 duplicated 'title', 'cold_rent', 'total_rent', 'total_area', 'used_area'
Explanation: agency had an incorrect general_address so they had to renew or do a new ad

In [ ]:
cols = ['title', 'cold_rent', 'total_rent', 'total_area', 'used_area']
flats[flats.duplicated(cols, keep=False)].sort_values(by="title")

In [ ]:
flats.drop_duplicates(cols, keep="last", inplace=True)

#### 2.2.4 duplicated title, cold_rent,  street_name
Explanation: agency had an incorrect cold_rent or total_rent so they had to renew or do a new ad

In [ ]:
cols = ['title', 'total_area', 'used_area', 'street_name', 'general_address']
flats[flats.duplicated(cols, keep=False)].sort_values(by="title")

In [ ]:
flats.drop_duplicates(cols, keep="last", inplace=True)

In [ ]:
flats.shape

Save your dataframe to a new file called 'cleaned_data.txt'

In [ ]:
flats.to_csv('../../data/cleaned_data.txt', index=False)

There might be much more duplicated records but they are hard to be recognized, for now this notebook concetrated only on the easy ones.